.index__container {
  padding: 0 8px;
}

.note_addNoteButton {
  height: 42px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 8px;
}

.notes__container {
  width: 100vw;
}

.notes__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
}

.note__container {
  width: 30vw;
  min-height: 100px;
  border: none;
  border-radius: 8px;
  background-color: #fffcc9;
  color: #403f32;
}

.note__title {
  line-height: 1.5rem;
}

.note__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;
  width: 100%;
}

.note__titleInput {
  height: 42px;
  padding: 0 8px;
  border: none;
  border-bottom: 1px solid #aaa;
}

.note__titleInput:focus {
  outline: none;
}

.note__notesInput {
  padding: 0 8px;
  border: none;
  flex-grow: 1;
}

.note__notesInput:focus {
  outline: none;
}

.button__primary {
  height: 42px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.button__secondary {
  height: 42px;
  border-radius: 2px;
  border: none;
  background-color: #aaa;
  color: #fff;
}

.push-content {
  flex-grow: 1;
}

[data-reach-dialog-content] {
  width: 90vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  margin: 8px auto;
  padding: 20px;
}
