.index__container {
  padding: 0 8px;
}

.note_addNoteButton {
  background-color: #0074d9;
  color: #fff;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0;
  z-index: 10;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 3rem;
}

.notes__container {
  width: 100vw;
}

.note__modal {
  z-index: 20px;
}

.notes__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
}

.note__container {
  width: 30vw;
  min-height: 100px;
  border: none;
  border-radius: 8px;
  background-color: #fffcc9;
  color: #403f32;
}

.note__title {
  line-height: 1.5rem;
}

.note__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;
  width: 100%;
  height: 100%;
}

.note__titleInput {
  height: 42px;
  padding: 0 8px;
  border: none;
  border-bottom: 1px solid #aaa;
}

.note__titleInput:focus {
  outline: none;
}

.note__notesInput {
  padding: 0 8px;
  border: none;
  flex-grow: 1;
}

.note__notesInput:focus {
  outline: none;
}

.note__deleteButton {
  width: 100%;
}

.note_useCheckboxButton {
  padding: 14px;
}

.button__primary {
  height: 42px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.button__secondary {
  height: 42px;
  border-radius: 2px;
  border: none;
  background-color: #aaa;
  color: #fff;
}

.button__danger {
  height: 42px;
  background-color: #ff4136;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.button_useCheckboxes {
  background-color: #393d47;
  color: #fff;
  border: none;
  height: 42px;
  border-radius: 4px;
}

.button__saveAndClose {
  width: fit-content;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393d47;
  color: #fff;
  border: none;
  border-radius: 2px;
  height: 42px;
}

.push-content {
  flex-grow: 1;
}

[data-reach-dialog-overlay] {
  z-index: 20;
}

[data-reach-dialog-content] {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  margin: 0;
  padding: 20px;
}
